:root {
    --primary-color: #828282;
    /* Default Button Color */
    --dark-mode-color: #1a1a1a;
    /* Dark Mode: 10% Grey */
}

body {
    background-color: #cecece;
    /* Default Background Color */
    color: #000;
    /* Default Text Color */
    transition: background-color 2s, color 2s;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/*#app {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: 'left-panel header right-panel'
                         'left-panel canvas right-panel'
                         'left-panel bottom right-panel';
    gap: 10px;
    height: 100vh;
}

#header {
    grid-area: header;
}

#left-panel {
    grid-area: left-panel;
}

#canvas {
    grid-area: canvas;
}


#right-panel {
    grid-area: right-panel;
}

#bottom {
    grid-area: bottom;
}
*/
#canvas {
    block-size: 95vh;
    inline-size: 99vw;

}

#header {
    block-size: 2.5vh;
    inline-size: 99vw;
    background-color: var(--primary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: -5px;
}