:root {
    --primary-color: #828282;
    /* Default Button Color */
    --dark-mode-color: #1a1a1a;
    /* Dark Mode: 10% Grey */
}

body {
    background-color: #cecece;
    /* Default Background Color */
    color: #000;
    /* Default Text Color */
    transition: background-color 2s, color 2s;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/*#app {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: 'left-panel header right-panel'
                         'left-panel canvas right-panel'
                         'left-panel bottom right-panel';
    gap: 10px;
    height: 100vh;
}

#header {
    grid-area: header;
}

#left-panel {
    grid-area: left-panel;
}

#canvas {
    grid-area: canvas;
}


#right-panel {
    grid-area: right-panel;
}

#bottom {
    grid-area: bottom;
}
*/
#canvas {
    block-size: calc(100vh - 30px);
    inline-size: 99vw;
}


#header {
    block-size: 40px;
    inline-size: 99vw;
    background-color: var(--primary-color);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: -5px;
}

#scene-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

#overlay button {
    pointer-events: auto;
    position: absolute;
    top: 10px;
    /* Adjust as needed */
    left: 10px;
    /* Adjust as needed */
    z-index: 100;
}

#vertical-nav {
    position: absolute;
    top: 10px;
    /* Center vertically */
    left: 10px;
    /* Adjust as needed */
    transform: translateY(0%);
    z-index: 100;
    pointer-events: none;
}

#vertical-nav button {
    display: block;
    size: 30px;
    pointer-events: auto;
    margin-bottom: 2px;
    /* Spacing between buttons */
    /* Additional styling for buttons */
}

#vertical-nav button img {
    width: 20px;
    height: 20px;
    pointer-events: auto;
    /* Spacing between buttons */
    /* Additional styling for buttons */
}

#nav-toggle {
    position: absolute;
    top: 10px;
    /* Adjust as needed */
    left: 10px;
    /* Adjust as needed */
    /* Additional styling */
}

#vertical-nav.open {
    transform: translateX(0);
    /* Move into view */
}

#horizontal-nav {
    position: absolute;
    bottom: 10px;
    /* Center vertically */
    left: 10px;
    /* Adjust as needed */
    transform: translateX(0%);
    z-index: 100;
    pointer-events: none;
}

#horizontal-nav button {
    display: inline-block;
    size: 30px;
    pointer-events: auto;
    margin-right: 2px;
    /* Spacing between buttons */
    /* Additional styling for buttons */
}

#horizontal-nav button img {
    width: 20px;
    height: 20px;
    padding-top: 2px;
    pointer-events: auto;
    /* Spacing between buttons */
    /* Additional styling for buttons */
}

#horizontal-nav.open {
    transform: translateX(0);
    /* Move into view */
}

.white-svg {
    background: url('src/assets/svg/kirralogo.svg') no-repeat center center;
    filter: invert(100%);
    padding-left: 3px;
    stroke-width: 2px;
    /* Inverts the color to white */
    width: 50px;
    /* Set as needed */
    height: 50px;
    /* Set as needed */
}